body {
  margin: 0;
  padding: 0;
  color: rgb(94, 14, 199);
}
.carousel-item{
  height: 450px;
}
.carousel-caption h1{
  color: black;
}
.carousel-caption p{
  color: rgb(173, 81, 6);
}
.d-flex{
  background-color: rgba(140, 0, 255, 0.459);
  border-radius: 10px;
  border: none;
  padding: auto;
  

}
.cal h1{
  
}

@media (min-width: 319px) and (max-width: 480px) {
      .d-flex {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
      }
    }

    @media (min-width: 481px) and (max-width: 1200px) {
      .d-flex {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 50px;
      }
    }

    @media (min-width: 1201px) and (max-width: 1600px) {
      .d-flex {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 60px;
      }
    }

    @media (min-width: 1601px) {
      .d-flex {
        margin-left: 115px;
        margin-right: 115px;
        margin-top: 70px;
      }
    }