.body{
  margin: 0;
  padding: 0;
  background-color: #FFF6CE;
}
.carousel-item{
  height: 450px;
}
.carousel-caption h1{
  color: black;
}
.carousel-caption p{
  color: rgb(137, 10, 241);
}
.d-grid{
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  border: none;
  padding-bottom: 100px;
  
}
.d-grid h1{
  margin-top: 15px;
}
#gender_box{
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;

}
#male_box{
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #000B58;
}
#female_box{
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: #000B58;
}
/* .card-body{
  text-align: center;
  background-color: #000B58;
  border: none;
} */
#input_box{
  margin-top: 200px;
}
















@media (min-width: 319px) and (max-width: 480px) {
      .d-grid {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
      }
      .row{
        gap: 30px;
      }
      .form-control{
        width: 10px;
      }
    }


    @media (min-width: 481px) and (max-width: 1200px) {
      .d-grid {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 50px;
      }
      .row{
        gap: 30px;
      }
      .form-control{
        width: 10px;
      }
    }


    @media (min-width: 1201px) and (max-width: 1600px) {
      .d-grid {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 40px;
      }
      .row{
        gap: 100px;
      }
    }

    @media (min-width: 1601px) {
      .d-grid {
        margin-left: 115px;
        margin-right: 115px;
        margin-top: 70px;
      }
      .row{
        gap: 250px;
      }
    }