.body{
  margin: 0;
  padding: 0;
  background-color: #FFF6CE;
}
.carousel-item{
  height: 450px;
}
.carousel-caption h1{
  color: black;
}
.carousel-caption p{
  color: rgb(10, 241, 68);
}
.d-grid{
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  border: none;
  padding-bottom: 100px;
  
}
.d-grid h1{
  margin-top: 15px;
}

#Submit_btn{
  background-color: rgb(25, 10, 241);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}
.male_radio{
  margin-top: 30px;
}
.Female_radio{
  margin-top: 30px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: middle; /* Helps with alignment with adjacent text */
  transform: scale(1.5); /* Makes the radio button 50% larger than its default size */
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5);
  margin-bottom: 15px;
}

label{
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
}












@media (min-width: 319px) and (max-width: 480px) {
      .d-grid {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
      }
      .row{
        gap: 30px;
      }
      .form-control{
        width: 10px;
      }
    }


    @media (min-width: 481px) and (max-width: 1200px) {
      .d-grid {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 50px;
      }
      .row{
        gap: 30px;
      }
      .form-control{
        width: 10px;
      }
    }


    @media (min-width: 1201px) and (max-width: 1600px) {
      .d-grid {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 40px;
      }
      .row{
        gap: 100px;
      }
    }

    @media (min-width: 1601px) {
      .d-grid {
        margin-left: 115px;
        margin-right: 115px;
        margin-top: 70px;
      }
      .row{
        gap: 250px;
      }
    }